# Configuracion del broker MQTT
MQTT_BROKER=emqx.coriotlab.co
MQTT_PORT=1883
MQTT_TOPIC=iot/sensors/AQ-003/data
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_KEEPALIVE=60

# Configuracion de PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=appdb
DB_USER=postgres
DB_PASSWORD=